<ion-header>
  <ion-toolbar>
    <ion-title><div class="ion-text-wrap">home-directores</div></ion-title>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button (click)="logout()"
      href="/login">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-list>
      <ion-card href="/reporte-asign">
        <ion-card-header>
          <ion-card-title>Reporte </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Con el fin de facilitar los procesos de re acreditación y en busca de la mejora continua de los programas,
          aquí puede consultar como perciben los estudinates las diferentes asignaturas del programa.
        </ion-card-content>
      </ion-card>
      <!--ion-card href="/parametrizar">
        <ion-card-header>
          <ion-card-title>Parametrizar el programa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Con el fin de mantener el sistema actulizado este espacio es para parametrizar el programa.
        </ion-card-content>
      </ion-card-->
    </ion-list>
  </div>
</ion-content>
