<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="/home">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuestra Selección para ti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-label>
      Las siguientes asignaturas son sugeridas con base a tus gustos en tematicas y competencias.
    </ion-label>
    <ion-list>
      <ion-card *ngFor="let asig of asignaturasSuge">
        <ion-card-header>
          <ion-card-title>{{asig.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click) = "opiniones()" [routerLink]="['/opiniones-asignatura',asig.id]">
            Opiniones asignatura
            <ion-icon  size="small" slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div class="nonTransparent" *ngIf="asignaturasSuge.length == 0">
      <h1>En el momento no hay grupos sugeridos, por favor espera un momento.</h1>
    </div>
    <ion-label>
      Las siguientes asignaturas son sugeridas con base al resto de tu perfil.
    </ion-label>
    <ion-list>
      <ion-card *ngFor="let asign of asignaturasPrefe">
        <ion-card-header>
          <ion-card-title>{{asign.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click) = "opiniones()" [routerLink]="['/opiniones-asignatura',asign.id]">
            Opiniones asignatura
            <ion-icon  size="small" slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div class="nonTransparent" *ngIf="asignaturasPrefe.length == 0">
      <h1>En el momento no hay grupos sugeridos, por favor espera un momento.</h1>
    </div>
    <ion-button href="/busqueda-asignaturas">
      Ver más asignaturas
      <ion-icon  size="small" slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>