<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="/home">
        <ion-icon slot="icon-only"
                  name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuestra Selección para ti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-list>
      <ion-card *ngFor="let grupo of asignaturas">
        <ion-card-header>
          <ion-card-title>Nombre asignatura</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!--ion-label ngFor= "let tema of grupo.tematicas"-->
          <ion-label>
            Tematicas
          </ion-label>
          <ion-label>
            Descripcion Asignatura
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div class="nonTransparent" *ngIf="asignaturas.length == 0">
      <h1>En el momento no hay grupos sugeridos, por favor espera un momento.</h1>
    </div>
    <ion-button href="/busqueda-asignaturas">
      Ver más asignaturas
      <ion-icon  size="small" slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>