<ion-header>
  <ion-toolbar>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button
        href="/home">
        <ion-icon
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><div class="ion-text-wrap">Menú Programa </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-list>
      <ion-card href="/informe-avance">
        <ion-card-header>
          <ion-card-title>Informe de avance</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Conoce tu informe de avance en el programa aquí, al igual que la posibilidad de multiples programas.
        </ion-card-content>
      </ion-card>
      <ion-card href="/falta-programa">
        <ion-card-header>
          <ion-card-title>¿Qué puedes ver para completar el programa</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Conoce cuales asignaturas puedes cursar para completar tus programas acádemicos.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Programas sugeridos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Con las asignaturas que has cursado y según tu perfil puedes, puedes cursar un
            multiple programa, con alguno de los siguientes programas de posgrado </ion-label>
            <ion-list>
              <ion-radio-group [(ngModel)]="idProgramaSelect">
                <ion-item *ngFor="let item of programasSuge">
                  <ion-label>{{ item.nombre }}</ion-label>
                  <ion-radio [value]="item.id"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          <ion-button (click) = "avanceProgramaSuge()" [routerLink]="['/sub-menu-programa-suge',idProgramaSelect]">
              ¿Como vas en ese programa?
            <ion-icon  size="small" slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>         
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
