<ion-header>
  <ion-toolbar>
    <ion-title>Servicios pez</ion-title>
    <ion-buttons class="header_btn"
                 slot="secondary">
      <ion-button href="/auth-home">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Sugerencias Asignaturas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Con el fin de facilitar tu proceso a la hora de elegir cuales asignaturas cursar aquí encontraras algunos de los asignaturas 
          que se ajusten a tus gustos y preferencias.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Informe de avance</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Conoce tu informe de avance en el programa aquí, al igual que la posibilidad de multiples programas.
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>