<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home">
    <!-- Logo >
    <div class="logo">
      <img class="home_logo" src="../assets/logo/logo_white_background.jpg">
    </div>

    <div class="error_message" #error_message
         [ngStyle]="{'visibility': error_visibility ? 'visible' : 'hidden'}">
      <p *ngIf="mensajeError==null; else elseBlock" ></p>
      <ng-template #elseBlock><p  [innerHTML] = "mensajeError"></p></ng-template>
    </div-->

    <!-- Login form -->
    <form class="form_registro_login">
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input
          name="nombre"
          [(ngModel)]="nombre"
          type="text"
          required placeholder="Ingresa tu nombre">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input
          name="apellido"
          type="text"
          [(ngModel)]="apellido"
          required placeholder="Ingresa tu apellido">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input
          name="email"
          type="email"
          [(ngModel)]="email"
          required placeholder="Ingresa tu correo">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key"></ion-icon>
        <ion-input
          name="password"
          type="password"
          [(ngModel)]="password"
          required placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
    </form>


    <ion-item>
      <ion-label>Programa</ion-label>
      <ion-select
        [(ngModel)]="programa">
        <ion-select-option *ngFor="let item of programas" >
          {{item}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <div class="enter_btn">
      <button class="myButton" (click)="onRegister()">
        Registrarse
      </button>
    </div>

    <!-- Other links -->
    <div class="center_text_login_registro" (click)="login()">
      <div>¿Ya tienes una cuenta?</div>
      <div class="presiona_aqui">
        <strong>Ingresa por aquí.</strong>
      </div>
    </div>

  </div>
</ion-content>
